<p id="notice"><%= notice %></p>

<%= render partial: 'the_comments/tree', locals: { commentable: @provider, comments_tree: @comments } %>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
