<div class="row">
    <div class="col-md-12">
        <h1>401b.org</h1>
        <h3>Move your money. Make an impact.</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <ul>
            <li>link 1
            <li>link 1
            <li>link 1
            <li>link 1
            <li>link 1
        </ul>
    </div>
    <div class="col-md-10">
        <iframe width="560" height="315" src="//www.youtube.com/embed/vBUcY-yB28I?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>