<p id="notice"><%= notice %></p>

<h2><%= @company.name %></h2>

<pre>
  <%= @company.description %>
</pre>
<%= render partial: 'the_comments/tree', locals: { commentable: @company, comments_tree: @comments } %>
